<!-- footer -->
<footer>
  <div class="footer-layer py-sm-5 pt-5 pb-3">
    <div class="container py-md-3">
      <div class="footer-grid_section text-center">
        <div class="footer-title mb-3">
          <a href="#">Follow Us</a>
        </div>
        <div class="footer-text">
          <p>
            Like, subscribe share and comment on our social media platform below</p>
        </div>
        <ul class="social_section_1info">
          <li class="mb-2 facebook"><a href="https://www.facebook.com/concepthubclasses/?ref=bookmarks" target="_blank"><i class="fab fa-facebook-f" style="color:#cccccc"></i></a></li>
          <li class="mb-2 twitter"><a href="https://twitter.com/CHCtanda"><i class="fab fa-twitter" style="color:#cccccc" target="_blank"></i></a></li>
          <li class="mb-2 linkedin"><a href="#"><i class="fab fa-linkedin" style="color:#cccccc" target="_blank"></i></a></li>
          <li class="mb-2 linkedin"><a href="https://www.youtube.com/channel/UCHJRQ3zlrffYSClmgoylArw" target="_blank"><i class="fab fa-youtube" style="color:#cccccc"></i></a></li>
          <li class="linkedin"><a href="https://www.instagram.com/concept_hub_classes/" target="_blank"><i class="fab fa-instagram" style="color:#cccccc"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- //footer -->

<!-- copyright -->
<section class="copyright">
  <div class="container py-4">
    <div class="row bottom">
      <ul class="col-lg-6 links p-0">
<!--        <li><a href="#why" class="">Why Choose Us</a></li>-->
        <li><a routerLink="/about/facility" class="">Services </a></li>
        <li><a routerLink="/about/faculty" class="">Teachers </a></li>
        <li><a routerLink="/gallery" class="">Gallery </a></li>
        <li><a routerLink="/contact" class="">Contact Us </a></li>
      </ul>
      <div class="col-lg-6 copy-right p-0">

        <p class="">Copyright © 2020 All rights reserved by

          <a href="https://www.concepthubclass.com/"> Concept Hub Classes.</a>
        </p>
      </div>
    </div>
  </div>
</section>
<!-- //copyright -->

<!-- move top -->
<!--<div class="move-top text-right">-->
<!--  <a routerLink="/home" class="move-top">-->
<!--    <span class="fa fa-angle-up  mb-3" aria-hidden="true"></span>-->
<!--  </a>-->
<!--</div>-->
<!-- move top -->
