<app-header></app-header>

  <div class="container">
  <div class="glow">
    <h1 style="text-align: center; font-weight: bold; color: #3369e7">Teaching Programs</h1>
  </div>
  <div class="our-services-wrapper mb-60">
    <div class="services-inner">
      <div class="our-services-img">
        <img src="../../assets/s6.png" alt="">
      </div>
      <div class="our-services-text">
        <h2>General Cources :</h2>
        <button type="submit" class="btn btn-primary" style="margin-left: 675px" routerLink="/home">Enroll Now
        </button>
        <p><i class="fa fa-check-circle" style="font-size:18px; color: deepskyblue"></i> Regular Program: Class I to
          VIII </p>
        <p><i class="fa fa-check-circle" style="font-size:18px; color: deepskyblue"></i> A.M.U. Class IX Entrance Batch:
          Class VIII Special Batch </p>
        <p><i class="fa fa-check-circle" style="font-size:18px; color: deepskyblue"></i> Foundation Program: Class IX
        </p>
        <p><i class="fa fa-check-circle" style="font-size:18px; color: deepskyblue"></i> Target Program: Class X</p>
        <p><i class="fa fa-check-circle" style="font-size:18px; color: deepskyblue"></i> Foundation and Target Batches
          for 10+2 Entrance exams of AMU, Jamia, BHU and Rahmani30.</p>
        <p><i class="fa fa-check-circle" style="font-size:18px; color: deepskyblue"></i> Foundation and Target Batches
          for Diploma Engg. Entrance exams of AMU.</p>
      </div>
    </div>
  </div>


  <div class="our-services-wrapper mb-60">
    <div class="services-inner">
      <div class="our-services-img">
        <img src="../../assets/s6.png" alt="">
      </div>
      <div class="our-services-text">
        <h2>Crash Cources :</h2>
        <button type="submit" class="btn btn-primary" style="margin-left: 700px" routerLink="/home">Enroll Now
        </button>
        <h4>Features</h4>
        <p><i class="fa fa-check-circle" style="font-size:18px; color: deepskyblue"></i> Crash Course will start just
          after Board Exam </p>
        <p><i class="fa fa-check-circle" style="font-size:18px; color: deepskyblue"></i> Preparation of AMU, JMI, BHU
          10+2 & Diploma in Engg. Entrance exam along with Board exam </p>
        <p><i class="fa fa-check-circle" style="font-size:18px; color: deepskyblue"></i> Regular test series (Based on
          AMU, JMI & BHU) </p>
        <p><i class="fa fa-check-circle" style="font-size:18px; color: deepskyblue"></i> Co-Education </p>
        <p><i class="fa fa-check-circle" style="font-size:18px; color: deepskyblue"></i> Separate batches for UP & CBSE
          Boards </p><br>
        <h4>Facilities</h4>
        <p><i class="fa fa-check-circle" style="font-size:18px; color: deepskyblue"></i> Study Material (Chapter wise)
        </p>
        <p><i class="fa fa-check-circle" style="font-size:18px; color: deepskyblue"></i> Motivational Class. </p>
        <p><i class="fa fa-check-circle" style="font-size:18px; color: deepskyblue"></i> Library with Wi-Fi Connection.
        </p>
        <p><i class="fa fa-check-circle" style="font-size:18px; color: deepskyblue"></i> CCTV cameras for security. </p>
        <p><i class="fa fa-check-circle" style="font-size:18px; color: deepskyblue"></i> Regular Feedback. </p>
        <p><i class="fa fa-check-circle" style="font-size:18px; color: deepskyblue"></i> Proper guidance of competition
          by experienced teachers </p>
      </div>
    </div>
  </div>

  <div class="glow">
    <h1 style="text-align: center; font-weight: bold; color: #3369e7">Computer Courses</h1>
  </div>
  <div class="our-services-wrapper mb-60">
    <div class="services-inner">
      <div class="our-services-img">
        <img src="../../assets/s6.png" alt="">
      </div>
      <div class="our-services-text">
        <h2>Advance Diploma in Computer Application (ADCA) - 1 Year :</h2>
        <button type="submit" class="btn btn-primary" style="margin-left: 200px" routerLink="/home">Enroll Now
        </button>
        <h4>Basic Fundamentals, Operating System- Windows7, MS-Office, Internet, Page Maker, CorelDraw, Photoshop, Tally
          plus</h4>
        <p><i class="fa fa-check-circle" style="font-size:18px; color: deepskyblue"></i> Eligibility 10+2 & Above</p>
      </div>
    </div>
  </div>


  <div class="our-services-wrapper mb1-60">
    <div class="services-inner">
      <div class="our-services-img">
        <img src="../../assets/s6.png" alt="">
      </div>
      <div class="our-services-text">
        <h2>Diploma in Computer Teacher Training (DCTT) - 1 Year :</h2>
        <button type="submit" class="btn btn-primary" style="margin-left: 250px" routerLink="/home">Enroll Now
        </button>
        <h4>Basic Fundamentals, Operating System - Windows, MS-Office, Internet, Page Maker, CorelDraw, Photoshop,
          Office Management, Lab Management all skills related to teachings</h4>
        <p><i class="fa fa-check-circle" style="font-size:18px; color: deepskyblue"></i> Eligibility 10+2 & Above</p>
      </div>
    </div>
  </div>

    <div class="our-services-wrapper mb1-60">
      <div class="services-inner">
        <div class="our-services-img">
          <img src="../../assets/s6.png" alt="">
        </div>
        <div class="our-services-text">
          <h2>Diploma in Office Automation & Publishing (DOAP) - 6 Months :</h2>
          <button type="submit" class="btn btn-primary" style="margin-left: 160px" routerLink="/home">Enroll
            Now
          </button>
          <h4>Basic Fundamentals, MS-Office, Page Maker, CorelDraw, Photoshop</h4>
          <p><i class="fa fa-check-circle" style="font-size:18px; color: deepskyblue"></i> Eligibility 10+2 & Above</p>
        </div>
      </div>
    </div>

      <div class="our-services-wrapper mb1-60">
        <div class="services-inner">
          <div class="our-services-img">
            <img src="../../assets/s6.png" alt="">
          </div>
          <div class="our-services-text">
            <h2>Certificate in C & C++ Language - 6 Months :</h2>
            <button type="submit" class="btn btn-primary" style="margin-left: 380px" routerLink="/home">Enroll
              Now
            </button>
            <h4>Basic Fundamentals, C & C++ language</h4>
            <p><i class="fa fa-check-circle" style="font-size:18px; color: deepskyblue"></i> Eligibility 10th & Above
            </p>
          </div>
        </div>

        <div class="our-services-wrapper mb1-60">
          <div class="services-inner">
            <div class="our-services-img">
              <img src="../../assets/s6.png" alt="">
            </div>
            <div class="our-services-text">
              <h2>Certificate in Computer Application (CCA) - 3 Months :</h2>
              <button type="submit" class="btn btn-primary" style="margin-left: 260px" routerLink="/home">Enroll
                Now
              </button>
              <h4>Basic Fundamentals, Operating System, MS-Office</h4>
              <p><i class="fa fa-check-circle" style="font-size:18px; color: deepskyblue"></i> Eligibility 10th & Above
              </p>
            </div>
          </div>


          <div class="our-services-wrapper mb1-60">
            <div class="services-inner">
              <div class="our-services-img">
                <img src="../../assets/s6.png" alt="">
              </div>
              <div class="our-services-text">
                <h2>Diploma in Computer Application (DCA) - 6 Months :</h2>
                <button type="submit" class="btn btn-primary" style="margin-left: 285px" routerLink="/home">
                  Enroll Now
                </button>
                <h4>Basic Fundamentals, Operating System Window, MS Office, Internet</h4>
                <p><i class="fa fa-check-circle" style="font-size:18px; color: deepskyblue"></i> Eligibility 10th &
                  Above</p>
              </div>
            </div>

            <div class="our-services-wrapper mb1-60">
              <div class="services-inner">
                <div class="our-services-img">
                  <img src="../../assets/s6.png" alt="">
                </div>
                <div class="our-services-text">
                  <h2>Diploma in Office & Financial Accounting (Tally 9) - 6 Months :</h2>
                  <button type="submit" class="btn btn-primary" style="margin-left: 170px" routerLink="/home">
                    Enroll Now
                  </button>
                  <h4>Basics of Computers, Ms. Office, Advanced Acc., Direct & Indirect Taxes, Acc. Software, Banking &
                    Insurance, Capital Market an Investment, Company, Labor Laws & Payroll, Cost Accountancy & Auditing,
                    Presentation and Comm. Skills</h4>
                  <p><i class="fa fa-check-circle" style="font-size:18px; color: deepskyblue"></i> Eligibility 10+2 &
                    Above</p>
                </div>
              </div>

              <div class="our-services-wrapper mb1-60">
                <div class="services-inner">
                  <div class="our-services-img">
                    <img src="../../assets/s6.png" alt="">
                  </div>
                  <div class="our-services-text">
                    <h2>Certificate in Financial Accounting (Tally 9) - 3 Months :</h2>
                    <button type="submit" class="btn btn-primary" style="margin-left: 250px" routerLink="/home">
                      Enroll Now
                    </button>
                    <h4>Accounting concepts, Company setup, Account Management. Sales Management, Introduction to
                      Distribution Management, Channel Management with Tally.</h4>
                    <p><i class="fa fa-check-circle" style="font-size:18px; color: deepskyblue"></i> Eligibility 10+2 &
                      Above</p>
                  </div>
                </div>
              </div>


</div>
