<section class="banner_part">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-11">
        <div class=" banner_text ">

          <div class="banner_text_iner ">

            <h1 style="font-size: 20px; font-weight: bold">Learn with the Concept....!! Be Perfect</h1>

            <h1 style="font-size: 50px;">Concept Hub Classes</h1>
            <p style="text-align: justify; ">Concept Hub Classes (CHC) is a premier coaching institute in Tanda, Ambedkar Nagar which believes the function of education is to teach one to think critically and intensively. Professional competence to teach the subject.
              CHC is a highly structured academic system through the use of a 9 stage lesson organizational structure. It includes the use of cognitive tools such as Mind Mapping, Self-diagnosis and Learning Outcomes that are highly
              student centric.</p>
            <div class="row my-2 mr-4"></div>

            <h5 style="font-size: 16px; font-weight: bold; color: #3369e7">VISION</h5>
            <p style="text-align: justify;">To ensure that each child entrusted to us is given space to be able to realize his/her full potential and to produce the future leaders of the world! Both the family and nation have high expectations and we know our children
              will make all proud.</p>
            <div class="row my-2 mr-4"></div>

            <h5 style="font-size: 16px; font-weight: bold; color: #3369e7">MISSION</h5>
            <p style="text-align: justify;">Our mission is to empower the disadvantaged and underprivileged segment of society and to ensure their participation in the development of a strong and prosperous India. To create awareness in the society that there can be
              no social upliftment and sustainable economic development if each and every one of us is not educated. To open the door of literacy, education, technical skills and health care to all the children especially destitute children
              with emphasis on girl education and women empowerment
            </p>
            <div class="row my-2 mr-4"></div>

            <h5 style="font-size: 16px; font-weight: bold; color: #3369e7">PLEDGE</h5>
            <p style="text-align: justify;">We believe that every student has the right to be treated with respect and consideration. Therefore, at Concept Hub Classes we care about students. </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- banner part end-->
