<section class="header_fixed">
<app-header></app-header>
</section>
<section class="testimonial_part ">
  <div class="container-fluid ">
    <div class="row my-4 mr-6"></div>
    <div class="row mb-4">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-2 "></div>
          <div class="col-lg-8 col-xl-8col-sm-8 align-self-center ">
            <div class="testimonial_slider_text ">
              <h1 style="margin-left: 300px; margin-bottom: 40px">Manager</h1>
              <div class="row ">
                <div class="col-lg-3">
                  <img class="border_image" src="../../assets/Asif.png " alt="# ">
                  <h4>Mohammad Asif</h4>
                  <p>B.Com, MSW</p>

                </div>
                <div class="col-lg-8">
                  <p style="text-align: justify; font-size: 17px;">Concept Hub Classes Coaching Centre (CHC) at Tanda, Ambedkar Nagar has been started to help underprivileged students to achieve their goals.</p>
                  <div class="row my-2 mr-4"></div>
                  <p style="text-align: justify; font-size: 17px;">Education is not only a preparation for exams but to prepare for life. We, at CHC have a pool of such talented and dedicated teachers who, along with me, have produced excellent results. Our intention is to give
                    free education to the poor and talented students. At present, we claim prominence in preparing students of Classes I to X for their school Internals, CBSE/UP Board and various entrance exams like 10+2 & Diploma
                    Engg. Our goal is to create history through holistic approach in academics. Our team produced under 100 ranks in various national brands through their unique teaching skills and mentorship. We never impose huge
                    mental pressure on children rather create a complete study environment through the smart technique and dedication. </p>
                  <div class="row my-2 mr-4"></div>
                  <p style="text-align: justify; font-size: 17px;">Join Concept Hub Classes and be the part of "Grand Success". </p>

                </div>
              </div>
              <div class="row my-4 mr-6"></div>
            </div>
          </div>
          <div class="col-lg-2"></div>
        </div>

      </div>

    </div>
  </div>
</section>


