
<app-header></app-header>
<div class="x">
  <!-- services -->
  <section class="services py-5" id="services">

    <div class="container">
      <h3 class="heading mb-5" style="font-size: 50px; margin-left: 400px">Our Services</h3>

      <div class="row ml-sm-5">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          <div class="our-services-wrapper mb-60">
            <div class="services-inner">
              <div class="our-services-img">
                <img src="../../assets/s1.png" alt="">
              </div>
              <div class="our-services-text">
                <h4>Quality Education</h4>
                <p>Educational change processes often need time to be realised. CHC aims to stable these processes by enhancing the capacities of students.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          <div class="our-services-wrapper mb-60">
            <div class="services-inner">
              <div class="our-services-img">
                <img src="../../assets/s2.png" alt="">
              </div>
              <div class="our-services-text">
                <h4>Experienced Staff</h4>
                <p>We have skilled and experienced faculties. There is a lot to this new generation of talent that CHC faculty provide.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          <div class="our-services-wrapper mb-60">
            <div class="services-inner">
              <div class="our-services-img">
                <img src="../../assets/s3.png" alt="">
              </div>
              <div class="our-services-text">
                <h4>Quiz & Event</h4>
                <p>Concept Hub Classes organize Quizzes and events time to time to motivate the students and honor the top scorer every year.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          <div class="our-services-wrapper mb-60">
            <div class="services-inner">
              <div class="our-services-img">
                <img src="../../assets/s4.png" alt="">
              </div>
              <div class="our-services-text">
                <h4>Study Certificate</h4>
                <p>
                  We offer certificates on successful completion of computer diplomas / programs under which the student enrolled.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          <div class="our-services-wrapper mb-60">
            <div class="services-inner">
              <div class="our-services-img">
                <img src="../../assets/s5.png" alt="">
              </div>
              <div class="our-services-text">
                <h4>Study Materials </h4>
                <p>We provide chapterwise study materials as well as Students can go through our various online video tutorials on our YouTube Channel. </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          <div class="our-services-wrapper mb-60">
            <div class="services-inner">
              <div class="our-services-img">
                <img src="../../assets/s6.png" alt="">
              </div>
              <div class="our-services-text">
                <h4>Library Books</h4>
                <p>CHC has a huge collection of study books for all subjects along with motivation, mind booster, personality development materials.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- positioned image -->
      <div class="position-image">
        <img src="../../assets/services.png" alt="" class="img-fluid">
      </div>
      <!-- //positioned image -->
      <h3 class="heading mb-5" style="font-size: 50px; margin-left: 400px">Our Facilities</h3>


      <div class="our-services-wrapper mb-60">
        <div class="services-inner">
          <div class="our-services-img">
            <img src="../../assets/s6.png" alt="">
          </div>
          <div class="our-services-text">
            <h4>Our Premises has following facilities:</h4>
            <p><i class="fa fa-check-circle" style="font-size:18px; color: deepskyblue"></i> CCTV surveillance for 24x7 </p>
            <p><i class="fa fa-check-circle" style="font-size:18px; color: deepskyblue"></i> Having four classrooms, office/staff room, store room and a computer room well equipped with fans and lights. </p>
            <p><i class="fa fa-check-circle" style="font-size:18px; color: deepskyblue"></i> Wi-Fi service is available for 24x7. </p>
            <p><i class="fa fa-check-circle" style="font-size:18px; color: deepskyblue"></i> Fire extinguisher is also available.</p>
            <p><i class="fa fa-check-circle" style="font-size:18px; color: deepskyblue"></i> Drinking water availability for 24x7.</p>
            <p><i class="fa fa-check-circle" style="font-size:18px; color: deepskyblue"></i> Separate washroom for boys & girls students and staff.</p>
            <p><i class="fa fa-check-circle" style="font-size:18px; color: deepskyblue"></i> Inverter facility for continuity of electricity.</p>
          </div>
        </div>
      </div>



    </div>
  </section>

  <!-- //services -->

</div>
