.header-fixed{
  position: absolute;
  width: 100%;

}
.container{
  justify-content: center;
  align-content: center;
  //position: relative;
  //width: 100%;
  //height: auto;
  //top: 200px;
  //background-color: #cccccc;
  //margin-bottom: 20px;
  width: 100%;
  height: auto;
  position: relative;
  top: 200px;
  margin-bottom: 250px;
}

.gallary_favicon{
  display: flex;
  margin-left: 1200px;
  //margin-top: -20px;
  width: 30px;
  margin-bottom: 10px;
  transition: transform .2s; /* Animation */
  cursor: pointer;
}

.gallary_favicon:hover{
  transform: scale(1.5);
}
