<app-header></app-header>
<section class="testimonial_part ">
  <div class="container-fluid ">
    <h1 style="color: #3369e7">Founder & Director</h1>
    <div class="row my-4 mr-6"></div>

    <div class="row mb-4">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-2 "></div>
          <div class="col-lg-8 col-xl-8col-sm-8 align-self-center ">
            <div class="testimonial_slider_text ">
              <h1 style="margin-left: 200px; margin-bottom: 40px">Founder & Director</h1>
              <div class="row ">

                <div class="col-lg-3">
                  <img class="border_image" src="../../assets/Afroz.jpg " alt="# " >
                  <h4>Er. Afroz Alam</h4>
                  <p>B.Sc.Engg (Mech), FIE</p>
                </div>

                <div class="col-lg-8">

                  <h5 style="text-align:center; font-size: 17px;">When the Creator of destinies turned over the pages of time</h5>
                  <h5 style="text-align:center; font-size: 17px;">The voice came, you will get honor only with Education</h5>

                  <div class="row my-3 mr-4"></div>
                  <p style="text-align: justify; font-size: 15px;">Education is the most powerful weapon which you can use to change the world. The utmost service to the community during these times is to educate our youth and upcoming generations with contemporary subjects while
                    keeping their faith firmly established and their self-confidence high. The talent and the energy which our youngster possess need to be nurtured, shaped and channeled in the right direction. </p>

                  <div class="row my-2 mr-4"></div>
                  <p style="text-align: justify; font-size: 15px;">We, at CHC aim to provide free education to the poor and underprivileged students and to create awareness in the society that there can be no social upliftment and sustainable economic development if each and every
                    one of us is not educated.</p>


                  <div class="row my-2 mr-4"></div>
                  <p style="text-align: justify; font-size: 15px;">As we have high expectations for our students and believe in developing their personal responsibility for their own learning and education, we strive to create an environment where students are given attention necessary
                    to achieve their goals. This would not have been possible without student’s hard work, parent’s involvement and support, as well as teacher’s commitment. Our combined efforts would bring out not only the best
                    in their careers, but the best in their lives.
                  </p>

                  <div class="row my-2 mr-4"></div>
                  <p style="text-align: justify; font-size: 15px;">When we take a glimpse at yesteryears, we find that it was very comfortable for the students back then to choose their career options. However, today the scenario is quite different. Mere desire does not work in
                    today’s cut-throat competitive environment. You have to be aware of the latest examination patterns, put efforts in the appropriate direction, and continuously evaluate yourself against others to be sure to
                    succeed. Success in entrance exams, calls for a planned approach and cultivation of requisite skills. Developing such skills and attitude not only requires dedication and hard work on the part of students, but
                    also proper guidance and training from mentor. Therefore, CHC has taken the responsibility of bringing the best educators under one roof and creating a knowledge pool par excellence.
                  </p>

                  <div class="row my-2 mr-4"></div>
                  <p style="text-align: justify; font-size: 15px;">It gives us great pleasure that you have taken time to visit our website. You could be a parent, a student or anyone interested in gaining deeper insights into the functioning and learning environment of CHC.
                  </p>

                  <div class="row my-2 mr-4"></div>
                  <p style="text-align: justify; font-size: 15px;">We whole-heartedly invite you to visit our Coaching Center.
                  </p>


                </div>
              </div>
              <div class="row my-4 mr-6"></div>
            </div>
          </div>
          <div class="col-lg-2"></div>
        </div>

      </div>

    </div>
  </div>
</section>
